@import './Glyphter.css';
body {
  margin: 0
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  > li {
    margin: 0.2em 0;
    line-height: 1.8;
  }
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: rgb(20, 144, 215);
  &:hover {
    color: darken(rgb(20, 144, 215), 10%);
  }
}

.mainContentWrapper > * {
  display: inline-block;
  padding: 20px;
}
.mainContent {
  width: 60%;
}
.sideContent {
  width: 40%;
  vertical-align: top;
}
@media only all and (max-width: 640px) {
  .mainContentWrapper > * {
    display: block;
  }
  .mainContent, .sideContent {
    width: 100%;
  }
}
@media only all and (min-width: 1200px) {
  .mainContentWrapper {
    padding: 0 10vw
  }
}